/* border box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Prata', serif;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;

    color: darkseagreen;

}
/* evenly spaces nav bar at any size */
.nav-container {
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

.nav-link {
    text-decoration: none;
    margin-right: 18px;
    color: black;
}

h2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.6;
}    
/* image with search bar on top */
.landing-image{
    background-image: url(../images/cover-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
    min-width: 100%;
    /* display: flex; */
   

}
/*  */
#textbox {
    width: 50%;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

#submitbox {
    /* width: 3; */
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 35px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-shadow: none;
    cursor: pointer;


}

#submitbox:hover {

color: springgreen;
}



.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}




#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#myImg:hover {opacity: 0.7}

.modal {
    text-align: center;
   
    
    
}

.modal-content {
    margin: auto;
  
}

.map-weather{
    width: 100%;
    min-height: 300px;
    display: flex;

   
    
}

.map, .weather{
    height: 100%;
    width: 100%;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    
}

.weather {
    background-color: azure;
    
}

 
/* makes image fill screen at phone size */
@media only screen and (max-width: 560px) {
    .modal-content {
        width: 100%;
    }
}