@keyframes boxExpand{
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}

@keyframes selectExpand{
    from{
        width :0;
        /* height:0; */
    }
    to{
        width: 40px;
        /* height:35px; */
    }
}


/* border box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Prata', serif;
}

header{
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}

.logo-img{
    width: 5%;
    min-width: 30px;
    min-height: 24px;
    /* height: 10%; */
    position: absolute;
    left: 1%;
    top: 21px;
    /* height: 5%; */
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    color: darkseagreen;

}
/* evenly spaces nav bar at any size */
.nav-container {
    /* margin: 0 2px; */
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid powderblue;
    
}

.nav-link {
    text-decoration: none;
    /* margin-right: 18px; */
    color: black;
}

.nav-link:hover{
    transform: scale(1.3);
    color:darkseagreen;
    transition: transform 0.25s;
}

h2 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    height: 20%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.6;
}    
/* image with search bar on top */
.landing-image{
    background-image: url(../images/cover-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    /* height: 100%; */
    min-width: 100%;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    animation: shrink 1s ease-in-out;
    margin-bottom: 3px;
}

.landing-text {
    font-size: 18px;
    transition: font-size 0.7s;
}

/*  */
.textbox {
    width:50%;
    padding: 0;
    animation: boxExpand 1s ease-in-out;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex; */
    }

.textbox-hidden{
    display:none;
}

.submitbox {
    /* width: 3; */
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 35px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-shadow: none;
    cursor: pointer;
    margin-left: 8px;

}

.submitbox:hover {

color: springgreen;
}

#firstButton{
    position: absolute;
    top: 359px;
    border-radius: 5px; 
}

.selectButton{
    /* width: 45px; */
    height: 35px;
    margin-left: 8px;
    animation: selectExpand 1s ease-in;
    /* animation-delay: 1s; */
    /* opacity: 0.5; */
}

.select-hide{
    width: 0;
    display: none;
}

.hide-button{
    display: none;
}


.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-bottom: 75px;
    
}

.center-center input{
    border-radius: 5px;
}

.gallery-hidden{
    display:none;
}

.large-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;

}

.tile-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 2px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: space-evenly; */
}

.gallery-tiles{
    width: 98%;
    max-height: 20%;
    margin: 2px 0;
    cursor: pointer;
}

.gallery-tiles:hover{
    opacity: 0.8;
    transition: opacity 0.3s;
}

.map-weather{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.map, .weather{
    height: 100%;
    width: 99%;
    min-height: 400px;
    /* padding: 10px; */
    margin: 2px 0;

}

.map-hidden{
    display: none;
}

.weather {
    background: linear-gradient(to bottom, #f9f9f9 0%,#88b7d8 27%,#64a9db 50%,#88b7d8 71%,#dce4ea 100%);}

.weather div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weather div img{
    height: 60px;
    width: 60px; 
}

.weather-hidden{
    display:none;
}

.time-info{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.time-info p{
    margin: 5px 0; 
    padding:5px 20px 10px 20px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.653);
}

.image-info{
    display: flex;
    justify-content: center;
}

.image-info ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.image-info li{
    padding: 5px 0;
}

footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: rgb(157, 157, 157);
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

footer a{
    text-decoration: none;
}

footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    margin-bottom: 2px;
}

.outside-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.our-links{
    padding: 0;
    width:45%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    transition: font-size 0.7s;
    /* flex-direction: ; */

}

.our-links i{
    color:  rgb(125, 125, 125);
}

.our-links i:hover, i:active {
    transform: scale(2);
    color:darkseagreen;
    transition: transform 0.5s;
    display: flex;
    /* justify-content: center; */
    /* align-content: stretch; */
}

/* .our-links-hidden{
    display:none;
} */

@media screen and (min-width: 560px) {
    .landing-text {
        font-size: 22px;
    }

    .modal-content {
        width: 100%;
    }

    .gallery-tiles{
        width: 49%;
        max-height: 15%;
    }

    .tile-container{
        justify-content: space-evenly;
    }

    .our-links{
        font-size: 24px;
    }


}

@media screen and (min-width: 768px) {
    .landing-text {
        font-size: 26px;
    }
    .map-container-half, .weather{
        width: 49%;
            }

    .our-links{
        font-size: 28px;
    }

}

@media screen and (min-width: 1200px){

    .landing-text {
        font-size: 30px;
    }
    .gallery-tiles{
        width: 32.5%;
    }

    .our-links{
        font-size: 32px;
    }
}

@media screen and (min-width: 1400px){


    .gallery-tiles{
        width: 24.5%;
    }

    .map-container-half, .weather{
        width: 49.35%;
            }
}

