/* border box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Prata', serif;
}

h1 {
    text-align: center;
    font-family: 'Prata', serif;

    color: darkseagreen;

}

.nav-container {
    display: flex;
    justify-content: center;
    align-content: initial;
}

.nav-link {
    text-decoration: none;
    margin-right: 8px;
    color: black;
}

h2 {
    color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    

.landing-image{
    background-image: url(../images/cover-photo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 400px;
    min-width: 100%;

   

}

#textbox {
    width: 400px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submitbox {
    width: 200px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}